# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/calc-icon.png
bin/clear-icon.png
*.class
bin/calc-icons.png
bin/currency-icon.png
bin/download-icon.png
bin/export-icon.png
bin/find-icon.png
bin/graf-icons.png
bin/exit-icon.png
bin/clear-icons.png
bin/exit-icons.png
bin/find-icons.png
bin/graf-icon.png
bin/download-icons.png
bin/export-icons.png
bin/note-icon.png
